html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

div.app {
  display: flex;
  flex-direction: column;
  background-color: #1a1e2a;
}
main {
  display: flex;
  flex-direction: column;
}
