textarea {
  resize: none;
}
.MuiTableRow-root .MuiTableCell-root {
  color: white !important;
  font-size: 17px !important;
  border: none !important;
}
.MuiTableBody-root .MuiTableCell-root {
  color: white !important;
  font-size: 15px !important;
}
