header {
  /* margin-top: 10px; */
  min-height: 600px;

  /* width: 100%; */
  font-size: 35px;
  background-image: url("../images/header.png");
  background-size: cover;
  background-position: center center;
  /* background-repeat: no-repeat; */
}
