.Overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1000;
  opacity: 0.8;
}

.Modal {
  position: fixed;
  /* height: 00px; */
  top: 50%;
  left: 20%;
  transform: translate(50%, -50%);
  background-color: #494965;
  color: white;
  padding: 50px;
  z-index: 1000;
  text-align: center;
  /* border-radius: 5%; */
}

input {
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  display: block;
}
label {
  float: left;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.color-container {
  position: relative;
  overflow: hidden;
  width: 30px;
  height: 30px;
  border: solid 2px #ddd;
  border-radius: 40px;
}
.color-input {
  position: absolute;
  right: -15px;
  top: -20px;
  width: 60px;
  height: 60px;
  border: none;
}
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1e2a;
  height: 50px;
  width: 100%;
}
.error p {
  margin-top: 15px;
}

.save-button {
  position: absolute;
  right: 10%;
  height: 30px;
  width: 70px;
  text-align: center;
  font-weight: 500;
  border-radius: 25px;
  border: 3px solid #1a1e2a;
}
.save-button:hover {
  background-color: #1a1e2a;
  color: white;
}
